package pages

templ Content() {
    <div id="cooldiv">
        <button hx-get="http://127.0.0.1:3000/index" hx-target="#cooldiv" hx-swap="outerHTML">Click me</button>
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900">Something happened</h1>
    </div>
}
